@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
       url('../fonts/roboto/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'pronova';
  src: url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_regular.woff2') format('woff2'),
       url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'proxima_novasemibold';
  src: url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_semibold.woff2') format('woff2'),
       url('../fonts/ProximaNova/mark_simonson_-_proxima_nova_semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.top-new{
  margin-top: 15px;
}

.middle2{
  margin-bottom: 40px;
}
.dropdown2{
  width: 130px !important;
  background-color: rgba(0,0,0,0.9) !important;
  border: 1px solid white;
  color: white !important;
  padding: 15px 0;
  margin: 10px 0 0;
  min-width: 0px !important;
  text-align: center;
}
.dropdown2>li>a{
  line-height: 2.428571;
    color: white;
}
#demo1 {
  position: absolute;
  width: 100%;
}
.liststyle {
  list-style: none;
  position: absolute;
  width: 12%;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 15px;
  border: 1px solid;
  color: white;
}
.liststyle li a{
  text-decoration: none;
}
.drop-wrap{
  position: relative;
}
.pdf {

  padding-left: 17px;
  border-radius: 25px;
  margin-top: 10px;
color: white;
}
.listborder
{
   border-bottom: 1px solid;
  padding-top: 12px;
  color: #0f86b3;
}
.pdf1 {
  /* border: 2px solid black; */
  padding-left: 17px;
  border-radius: 25px;
  margin-top: 10px;
  color: white;
}





.faq-back{
  background-image: url("../images/FAQSBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;    height: auto;
  padding-bottom: 40px;
  padding-top:40px;
}
.faqs-wrap{
  width: 80%;
  margin: 0px auto;

}
.black-back{
  background-color: rgba(0,0,0,0.7);
}
.prod-faqs-head{
  color: #0f86b3;
  font-family: "pronova";
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 40px;
  margin-bottom: 0px !important;
}
.product-faqs{

  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}
.accordion {
  cursor: pointer;
  width: 100%;
  border: none;
  background: transparent;
  background-color:transparent;
  text-align: left;
  outline: none;
  font-size: 14px;
  transition: 0.4s;

  color:#fff;
}

.active, .accordion:hover {
  background-color: transparent;
}
.arrow-points-wrap{
  position: relative;
  width: 100%;
  background: transparent;
    border: none;
    padding: 0px !important;
}
.arrow-faq-div{
  position: relative;
  float: left;
  width: 4%;
}
.faq-points-div{
  position: relative;
  float: left;
  width: 95%; 
  padding-left: 15px;
}

.question-ans{
  width: 80%;
  margin: 0 auto;
}
.question-ans p.answer{
  text-align: justify;
}
.list-faq{
  padding-left:40px;
}
.list-faq li{
  display:block;
  list-style-type: circle;
  margin:10px 0;
}

.table-div{
  display: table;
    width: 100%;
    height: 100%;
}

.table-inner{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.answer{
  padding-left:30px;
  line-height: 2;
  font-size: 16px;
}
.faq-points{
  margin-top:20px;
  color: white;
  font-family: 'pronova';
  margin-bottom:10px;
  font-size: 20px;
  text-align: left;
  color:black;
  font-weight: 900;
}
.panel p{
  padding-top: 5px;
  font-family: 'pronova';
}
.panel ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.panel ul li::before{
color: white;
content: "â€¢ ";
}
.panel ul li{
  padding-top: 5px;
  font-family: 'pronova';
  color: white;
}
.panel {
  padding: 5px 30px;
  margin: 20px 0px;
  margin-top: 5px;
  border:1px solid #49b1d4 !important;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  background-color: transparent;
  transition: max-height 0.2s ease-out;
  display: none;
}
.dbl-arr-rotate{
  width: 70%;
}





.read-btn-wrap{
  text-align: center;
  margin-top: 60px;
}
.read-whitepaper-btn{
  padding:10px 25px;
  height:60px;
    background-color: black;
    color: white;
    border: 1px solid #17b5f1;
    font-family: 'pronova';
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    transition: all 0.4s ease-in-out;
}
.read-whitepaper-btn:hover{
  background-color:white !important;
  color: black;
  border: none;
}
.box-ul{
  list-style-type: none;
}
.box-ul li{
  padding-top: 15px;
  display: inline-block;
  margin-right: 72px;
  font-size: 20px;
}
.box-ul li a {
  text-decoration: none;
  font-family: 'pronova';
  color: white;
  cursor: pointer;
}
.no-right{
  margin-right: 0px !important;
}
.height-div{
  height: 15px;
}

body {
  color: #333;
  font-size: 14px;
  font-weight: 300;
  background: #fff;
  overflow-x: hidden;
}
p {
  font-size: 14px;
  line-height: 26px;
}
a:hover,
a:focus {
  color: #4676fa;
}
.st0:hover,st1,st0{fill:#4676fa}.st1:hover{fill:#4676fa}
.nav>li>a{
  font-family: 'pronova';
}
/* .nav>li>a:focus, .nav>li>a:hover {
  background:transparent !important;
  color: white !important;
} */
a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 0px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
  font-family: 'Lato', sans-serif;
}
.btn:focus {
  box-shadow: none;
  outline: none;
}
.btn-common {
  border: 2px solid #4676fa;
  background-color: #4676fa;
  position: relative;
  z-index: 1;
  border-radius: 4px;
}
.btn-common:hover {
  color: black;
  background-color: white;
  border: 2px solid white;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.buy-ami-btn:hover{
  color: black;
  background-color: white;
  border: 2px solid white;
}
.Whitepaper_btn:hover{
  color: black;
  background-color: white;
  border: 2px solid #17b5f1;
}
.btn-border {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 4px;
}
.btn-border:hover {
  color: black;
  background-color: white;
  border: 2px solid white;
}
.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}
.btn-rm {
  padding: 7px 10px;
  text-transform: capitalize;
}
.clear {
  clear: both;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 1px;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
a:not([href]):not([tabindex]) {
  color: #fff;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #4676fa;
}
.section {
  padding: 80px 0;
}
.section-header {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}
.section-header .section-title {
  font-size: 42px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 100;
  color: #0d3559;
  position: relative;
}
.section-header .section-title span {
  color: #4676fa;
}
.section-header .section-subtitle {
  margin-top: 15px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}
.section-header .lines {
  margin: auto;
  width: 70px;
  position: relative;
  border-top: 2px solid #346afe;
  margin-top: 15px;
}
.section-header .lines:before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  top: -10px;
  border: 4px solid #fff;
  border-radius: 50%;
  background: #4676fa;
  left: 27px;
}
/* ==========================================================================
   Navbar Style
   ========================================================================== */
.bg-faded {
  background-color: #fff;
}
.logo-menu a {
  font-size: 20px;
  color: #fff;
}
.menu-bg {
  background-color: #fff!important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  z-index: 999;
  padding: 3px;
}
.menu-bg .menu-button {
  top: 0;
}
.menu-bg .menu-button:hover {
  cursor: pointer;
  color: #4676fa;
}
.menu-bg .logo-menu a {
  color: #4676fa;
}
.menu-button:hover {
  cursor: pointer;
  opacity: #eee;
}
.close-button {
  cursor: pointer;
}
.navbar-light .navbar-nav .nav-item {
  margin-left: 15px;
}
.navbar-light .navbar-nav .nav-link {
  color: #0d3559;
  padding: 7px 0px;
  margin-left: 5px;
  position: relative;
  font-size: 15px;
  letter-spacing: 0.3px;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover:before {
  color: #4676fa;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active:before,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open > .nav-link {
  color: #4676fa;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.navbar-light .navbar-toggler {
  border-color: #333;
  border-radius: 0px;
}
.navbar-light .navbar-toggler {
  float: right;
  margin: 10px;
}
.navbar-light .navbar-toggler i {
  color: #333!important;
}
/* ==========================================================================
   Hero Area Style
   ========================================================================== */
#hero-area {
  background: url(../img/hero-area.jpg) fixed no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
}
#hero-area .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #4676fa;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
#hero-area .contents {
  padding: 160px 0 80px;
}
#hero-area .contents h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 25px;
}
#hero-area .contents p {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.5px;
}
#hero-area .contents .btn {
  margin: 20px 10px;
  text-transform: uppercase;
}
#hero-area .banner_bottom_btn {
  margin-top: 40px;
}
#hero-area .banner_bottom_btn i {
  color: #fff;
  font-size: 48px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#hero-area .banner_bottom_btn i:hover {
  color: #4676fa;
}
/* ==========================================================================
   Slider Area
   ========================================================================== */
#slider-area {
  margin-top: -1px;
}
#slider-area h1 {
  font-weight: 100;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
#slider-area p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
#slider-area .sticky-navigation {
  background: transparent;
}
#slider-area .btn {
  margin-right: 15px;
}
#slider-area .large_white {
  color: #fff;
}
/* ==========================================================================
   Video Background
   ========================================================================== */
#video-area {
  overflow: hidden;
  height:100vh;
  position: relative;
}
#video-area .contents {
  padding: 160px 0 80px;
}
#video-area .contents h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 25px;
  line-height: 70px;
}
#video-area .contents p {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.5px;
}
#video-area .contents .btn {
  margin: 20px 10px;
  text-transform: uppercase;
}
#video-area .banner_bottom_btn {
  margin-top: 40px;
}
#video-area .banner_bottom_btn i {
  color: #fff;
  font-size: 48px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#video-area .banner_bottom_btn i:hover {
  color: #4676fa;
}
.overlay-2 {
  background: rgba(0, 0, 0, 0.7) !important;
}

/*Nira Css*/
.mobile-landing{
display: none;
}
body{
  margin: 0;
  padding: 0;
}
.landing-section{
  height: 100vh;
}
.myNavbar{
  background:rgba(0, 0, 0, 0.6);
  border-color: transparent !important;
  padding-top: 15px !important;
  margin-bottom: 0px !important;
  padding-bottom:10px;
}
.nav>li>a{
  font-family: 'pronova';
}
.ami-token-btn{
  padding: 3px;
  background-color: #17b5f1;
  color: black;
  border: none;
  height: 40px;
  width: 140px;
  font-family: 'pronova';
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  text-align: center;

}
.dropdown2>li>a:hover{
text-decoration: none !important;
background-color: transparent !important;
color: white !important;
}
.line-blue{
  height: 2px;
  background: #18a3de;
  width: 80%;
  margin: 0 auto;
}
.whitepaper-btn{
  margin-left: 12px;
  margin-top: 6px;
  padding: 3px;
  background-color: black;
  color: white;
  border: 1px solid #17b5f1;
  height: 40px;
  width: 130px;
  font-family: 'pronova';
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  margin-top: 0px;
  border-radius: 0;
  text-align: center;
}
.whitepaper-btn:hover{
  background-color:#17b5f1 !important;
  color:white !important;
  border: none;
}

.logo{
  height: 46px;
  padding-bottom: 5px;
}
.fa-spinner{
  font-size:24px;
  color:white;
}
.Sub-loader{
  margin:25px auto;
  display:none;
  width:50px;
}
.ami-token-btn:hover{
  color: black;
  background-color: white;
/*   border: 2px solid white; */
}
*:focus{
  outline: none;
}
.nav-link{
  color: white !important;
}
/* .nav-link-li :hover{
  color: #207ea1 !important;
} */

.nav-link:hover{
  background:transparent !important;
  color:white;
}
.navbar-container{
  padding-left: 35px !important;
  padding-right: 40px !important;
}
.nav>li>a {
  padding: 10px 12px !important;
  font-size: 15px;
}
.landing-content-wrap{
  display: table;
  width: 100%;
  height: 100%;
}
.landing-content-row{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.myDropdown{
  display: none;
}
.main-heading-left{
  text-align: left;
  color: #1eaee4;
  font-family: 'pronova';
  text-transform: uppercase;
  font-weight: 550;
  line-height: 1.555;
  font-size: 50px ;
  margin-bottom: 0px !important;
  font-weight: 900;
 
}
.next-gen{
  color: white;
  font-family: 'pronova';
  font-size: 33px;
  font-weight: 500;
}
.row-spacing{
  width: 92%;
  margin: 0 auto;
}
.open-everyone-text{
  color: #1eaee4;
  font-size: 20px;
  text-align: left;
  font-family: 'pronova';
  font-weight: 550;
  margin-bottom: 0px !important;
  margin-top: 30px;
}
.social-icons-header {
  padding-left: 0;
  text-align: left;
}
.social-icons-header li {
  display: inline-block;
  list-style-type: none;
  margin-right: 15px;
  transition: all 0.5s;
}
.social-img {
  width: 32px;
}
.terms-con-text{
  color: #1eaee4 !important;
  font-size: 20px !important;
  text-align: left !important;
  font-family: 'pronova' !important;
}

.left-div{
  text-align: left;
 
}
.social-div{
  margin-top: 30px;
  margin-bottom: 30px;
}
.right-div{
  padding-bottom: 30px;
  padding-top: 30px;
  width: 95%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 5px;
  border-radius: 9px;
  background: rgba(0, 174, 239,0.541);
 
}
.terms-con-text:hover{
font-weight: 900;

}
.right-top-text{
  font-size: 25px;
font-family:  'pronova';
color: white;
text-align: center;
padding-top: 10px;
font-weight: 700;
}
.right-top-text1{
  font-size: 20px;
font-family:  'pronova';
color: white;
text-align: center;
padding-top: 10px;
padding-bottom: 15px;

}
.deiro-span{
  font-weight: 600;
}
.last-line{
  font-size: 13px;
  font-family:  'pronova';
  color: white;
  padding-top: 15px;
  text-align: left;
}
.day-div {
  font-family:  'pronova';
  border-radius: 3px;
  background-color: rgba(73, 177, 212, 0);
  width: 100%;
  height: 100%;
  z-index: 878;
  color: white;
  font-size: 45px;
  text-align: center;
  font-weight: 900;
  /* border-right: 1px solid white; */
}
.time-row{
  margin-right: 10px !important;
  margin-left: 10px !important;
  border-radius: 8px;
  height: 75px;

}
.right-side{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.colon{
  color: white;
  font-size: 40px;
  position: absolute;
  z-index: 4545454545454;
  left: 102px;
  width: 1px;
  top: -14px;
  height: 61px;
  border: none;
  background: white;
  border-top: 1px solid hsl(0, 0%, 100%);
  display: none;
}
.right-border{
  border-right: 1px solid white;
}
.progress-bar{
  border-radius: 12px;
  height: 15px !important;
  background-color: white !important;
}
.progress{
  height: 15px !important;
  border-radius: 10px !important;
  background-color: black !important; 
}
.progress-div{
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}
.softcap-div{
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}
.softcap-row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.softcap-left{
  text-align: center;
}
.softcap-right{
  text-align: right;
}
.days-text, .hour-text, .sec-text, .min-text{
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  font-family:  'pronova';
  font-weight: 550;
}
.left-text-below-clock{
color: #8b8e8e;
font-family:  'pronova';
font-size: 17px;
}
.right-text-below-clock{
color: white;
font-family:  'pronova';
text-transform: uppercase;
font-size: 17px;
}
.below-clock-div{
  padding-left: 25px;
  padding-top: 15px;
}
.softcap-a{
  color: white;
  font-family:  'pronova';
  font-size: 18px;
  
}
.softcap-b{
  color: white;
  font-family:  'pronova';
  font-weight: 700;
  font-size: 20px;
}
.buy-btn{
  background-color: #f8f8f8;
  color: black;
  width: 95%;
  border-radius: 14px;
  height: 70px;
  font-size: 20px;
  font-weight: 900;
/*   font-family:  'pronova'; */
}
.right-col{
  margin-top: 20px;
}
.no-padding{
  padding: 0px !important;
}
.social {
  background-color: white;
  border-radius: 60px;
  display: inline-block;
  height: 50px;
  line-height: 35px;
  width: 50px;
  text-align: center;
  padding-top: 5px;
}
.ami-tokens{
  background-image: url('../images/ami-token.jpg');
  background-size: cover;
  height: auto;
  padding-bottom: 70px;
}
.ami-head-text{
color: white;
font-family: "pronova";
margin-top: 0px;
padding-top: 70px;
padding-bottom: 50px;
font-size: 40px;
}
.ami-head{
  text-align: center;

}
.ami-text{
    font-size: 18px;
    font-family: "pronova";
    color: rgb(255, 255, 255);
    line-height: 2.2;
    text-align: justify;
}
.ami-text-b{
  margin-top: 30px;
  font-size: 18px;
  font-family: "pronova";
  color: rgb(255, 255, 255);
  line-height: 2.2;
  text-align: justify;
}
.ami-content{
  width: 90%;
 margin: 0 auto;
}
.buy-ami-btn{
    margin-top: 20px;
    padding: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid #17b5f1;
    height: 36px;
    
    font-family: 'pronova';
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 550;
}
.ami-right-pic{
  height: 391px;
    margin-top: -47px;
    margin-left: 36px;
}
.timeline-ul{
 list-style-type: none;
 text-align: center;
}
.timeline-li{
display: inline-block;
margin-right: 40px;
margin-left: 40px;
margin-bottom: 20px;
}
.timeline-overlay{
  position: absolute;
  z-index: 223233;
  top: 90px;
  width: 100%;
}
.timeline-li-inner-div{
  position: relative;
  transition: all .7s ease-in-out;
}
.timeline-li-inner-div:hover{
  transform:scale(1.3);
}
.blue-text{
  font-size: 13px;
  font-family: "pronova";
  color: rgb(23, 181, 241);
  margin-bottom: 0px !important;
  text-align: center;
  font-weight: 550;

}
.black-text{
  font-size: 12px;
  font-family: "pronova";
  color: black;
  margin-bottom: 0px !important;
  text-align: center;
  font-weight: 600;
}
.timeline-img{
  width: 200px;
}
.timeline-section{
  height: auto;
}
a svg:hover #raddish { 
  fill: #1eaee4;
}
a svg #raddish { 
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}
a svg{
  width: 29px;
  height: 40px;
  fill: #111;
}
.funds-allocation{
height: auto;
padding-bottom: 50px;
}




























@media (min-width: 320px) and (max-width: 1300px) {
  .open>.dropdown-menu {
    
}
  .dropdown-menu>li>a {
    font-size: 18px;
  }
  .navbar-toggle{
    display: none;
  }
  .navbar-right{
    display: none;
  }
  .myDropdown{
    display: block !important;
    float: right !important;
  }
  .openedDd{
    /* overflow-y: auto !important;
    display: block !important;
    height: 481px !important; */
    min-width: 230px !important;
    left: auto !important;
    right: 0 !important;
/*     background-color: rgb(0, 174, 239) !important;
    opacity: 0.9 !important; */
    background:rgba(0, 0, 0, 0.9);
  
  }
  .dropdown-toggle{
    padding: 3px;
    background-color: #17b5f1;
    color: black;
    border: none;
    border-radius: 20px;
    height: 38px;
    width: 214px;
    font-family: 'pronova';
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 550;
  }
  .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
    background-color: #17b5f1 !important;
    color: black !important;
    border: none !important;
  }
  .navbar-header{
    width: 100%;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .custom-bars{
    color: white !important;
    font-size: 30px !important;
    margin-top: 10px !important;
  }
  .dropdown-menu>li>a {
    padding: 20px 20px !important;
  }
  .ami-token-btn{    
    margin-left: 15px;
    width: 100%;
    border-radius: 0 !important;
    height: 40px;
  }
  .whitepaper-btn {
    margin-left: 15px;
    width: 100%;
    border-radius: 0 !important;
    height: 40px;
}
}









/* @media only screen and (max-width:1280px) {
  .navbar-header{
    width: 100%;
    text-align: center;
  }
  .navbar-right {
    width: 100%;
    text-align: center;
}
}
 */

 @media only screen and  (max-width:767px) {
  .ami-right-pic {
    text-align: center;
    height: 175px;
    margin-top: 15px;
     margin-left: 0px; 
}
.ami-img-div{
  text-align: center;
}
  #video-area {
    height: auto;
    padding-bottom: 108px;
    padding-top: 72px;
}
.myNavbar {
  background: rgba(0, 0, 0, 1);
}
.left-div {
  text-align: center;
}
.main-heading-left {
  text-align: center;
}

.open-everyone-text {
text-align: center;
margin-bottom: 10px !important;
}
.social-icons-header {
  text-align: center;
}
.social-img {
  margin-bottom: 10px;
}
 }
 @media only screen and  (max-width:640px) {
  .softcap-left{
    padding-right: 0px !important;
    padding-left: 20px !important;
  }
   .height-pic-above{
     height: 40px;
     margin-bottom: 20px;
   }
   .mbl-top-new{
     margin-top: -39px !important;
   }

  .second-row-top{
    margin-top: 0px !important;
    margin-bottom:40px !important;
  }
  .first-row-gap{
    margin-bottom: 10px !important;
  }
  .col-xs-offset-3 {
    margin-left: 25% !important;
}
  .BUY_Amicorum{
    margin-top:30px;
  }

  .social-icons-header2 li{
    margin-right:5px !important;
  }

  .author{
    text-align:center;
  }

  .buy-ami-btn{
    width: 100%;
    height: 60px;
    font-size: 24px;
    font-weight: 550;
  }
  .BUY_Amicorum h1,.Inovations h1{
    width:100% !important;
  }
  .box-ul li{
    margin-right: 35px;
  }
  .social-icons-header li{
    margin-bottom:15px;
  }
    .col-text-center{ 
      margin-top:15px;
   }

   .pic-dig{
     margin-top:-90px !important;
   }
   .iframe-style{
    width: 270px !important;
    height: 270px !important;

   }
   .Amicorum_Video{
    width: 270px !important;
    height: 270px !important;
     margin: 20px auto !important;
   }
   .ami-head-text{
    line-height: 1.2;
   }
   .author{
     font-size: 15px !important;
   }
  .timeline-li {
    display: inline-block;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 50px;
}


   
   #video-area{
     display: none;
   }
  .mobile-landing{
    display: block;
    height: auto;
    background-image: url('../images/landingback.png');
    background-size: cover;
    padding-bottom: 30px;
    }
    .main-heading-left {
      margin-top: 70px;
      font-size: 36px;

    }
  .social-div {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

   .chart-img{
    width: 250px;
    margin-bottom: 35px;

   }
  .middle{
    text-align: center;
 
  }

  .ami-content {
    text-align: center;
  }
 }
 @media (min-width: 768px) and (max-width: 991px) {
   .height-pic-above{
     height: 60px;
     margin-bottom: 35px;
   }
  .ami-right-pic {
    text-align: center;
    height: 366px;
    margin-top: 3px;
     margin-left: 0px; 
}
  .ami-img-div{
    text-align: center;
  }

  .main-heading-left {
    
    font-size: 36px;
    margin-top: 64px !important;
}
.right-col {
  margin-top: 60px;
}
.softcap-b {
  font-size: 20px;
}
.social-img {
  width: 30px;
  margin-bottom: 10px;
}
.right-top-text {
  font-size: 21px;
  
}
 }
 @media (min-width: 992px) and (max-width: 1200px) {
  .ami-right-pic {
    height: 340px;
    margin-top: 19px;
    margin-left: 0px;
}
.margin-status {
  margin-bottom: 64px !important;
}
.margin-status2 {
  margin-bottom: 43px !important;
}
.margin-status5{
  margin-bottom: 18px !important;
}
 }
 

 /*FAIZA ROADMAP CSS*/

 .back{
  background-image: url("../images/three-back.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.roadmap-head{
  color: #0f86b3;
  font-family: "pronova";
  text-align: center;
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 70px;
  font-size: 40px;
}
.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0px !important;
}

.li {
  transition: all 200ms ease-in;
}

.timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.status {
  padding: 0px 0px;
  display: flex;
  justify-content: center;
  border-top: 5px solid white;
  position: relative;
  transition: all 200ms ease-in;
}
.status h6 {
  font-weight: 600;
  margin-top: 35px !important;
  color: transparent;
}
.status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 5px solid #ddd;
  position: absolute;
  top: -15px;
  left: 46%;
  transition: all 200ms ease-in;
}

.li.complete .status {
  border-top: 5px solid #555555;
}
.li.complete .status:before {
  background-color: white;
  border: none;
  transition: all 200ms ease-in;
}
.li.complete .status h4 {
  color: #66DC71;
}
.author{
    color: white;
    font-family: "pronova";
    font-size: 16px ;
    text-align: center;
}
.date{
  color: #17b5f1; 
  font-family: "pronova";
  font-weight: 600;
  font-size: 17px !important;
}
.timestamp-gap{
  margin-bottom: 94px !important;
}
.date-gap{
  padding-top: 20px;
}
.status-pad{
  padding: 0px 87px !important;
}

.status-last{
padding: 0px 0px;
}
.custom-hr{
  width: 70%;
  margin: 0 auto;
  border-top: 1px solid white;
  margin-top: 80px;
  padding-bottom: 50px;
}

.faq-new{
  margin-top:150px;
}
.raodmap-mobile{
  display: none !important;
}
.timeline-head{
  color: #0f86b3;
  font-family: "pronova";
  text-align: center;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 40px;
}

.Faq-heading{
  text-align: center;
  font-size:35px;
  margin:25px 0;
  color:black;
}










@media only screen and (max-width:767px){
  .raodmap-mobile{
      display: block !important;
  }
.desktop-roadmap{
  display: none !important;
}
.timestamp{
  padding: 0px 3px;
}
}

@media (min-device-width: 320px) and (max-device-width: 640px) {
  .timeline {
    list-style-type: none;
    display: block;
  }

  .li {
    transition: all 200ms ease-in;
    width: inherit;
  }

  .timestamp {
    width: 100%;
  }

  .status:before {
    
    top: -25%;
    transition: all 200ms ease-in;
  }
}
html, body {
  width: 100%;
  height: 100%;
  justify-content: center;

}

@media (min-device-width: 641px) and (max-device-width: 767px) {
  .softcap-left{
    padding-right: 0px !important;
    padding-left: 34px !important
  }
  .height-pic-above{
    height: 57px;
    margin-bottom: 35px;
  }
  #video-area{
    display: none;
  }
 .mobile-landing{
   display: block;
   height: auto;
   background-image: url('../images/landingback.png');
   background-size: cover;
   padding-bottom: 30px;
   }
   .main-heading-left {
     margin-top: 70px;

   }
  .chart-img{
    width: 250px;
    margin-bottom: 30px;
   }
  .middle{
    text-align: center;
  }
  .timeline {
      list-style-type: none;
      display: block;
    }
  
    .li {
      transition: all 200ms ease-in;
      width: inherit;
    }
  
    .timestamp {
      width: 100%;
    }
  
    .status:before {
      left: 48%;
      top: -25%;
      transition: all 200ms ease-in;
    }
  
  html, body {
    width: 100%;
    height: 100%;
    justify-content: center;

  }
}
@media (min-device-width: 768px) and (max-device-width: 779px) {

  .margin-status3,.margin-status3-3 {
    margin-bottom: -24px !important;
}

.margin-status5{
  margin-bottom: -4px !important;
}
}
@media (min-device-width: 780px) and (max-device-width: 991px) {
.margin-status5{
  margin-bottom: 18px !important;
}
.margin-status3-3{
  margin-bottom: -24px !important;
}
@media (min-device-width: 828px) and (max-device-width: 991px){
  .margin-status3-3{
    margin-bottom: -4px !important;
  }
}
}
@media (min-device-width: 768px) and (max-device-width: 991px) {
  .margin-status {
    margin-bottom: 38px !important;
  }
  .padd-date{
    padding-bottom: 18px;
  }
  .margin-status2 {
    margin-bottom: 18px !important;
  }
  .timestamp{
      padding: 0px 0px;
      margin-bottom: -1px;
  }
  .funds-wrap {
    width: 90% !important;
  }
  .timestamp-gap {
      margin-bottom: 86px !important;
  }
  .date{
      font-size: 15px !important;
  }
  .author{
      font-size: 15px !important;
  }
  .status-pad {
      padding: 0px 8px !important;
  }
}

@media only screen and (min-width: 1900px) and (max-width: 2100px) {
  .subscribe-span{
    right: 570px !important;
  }
  .input-email{
    margin-right: 40px !important;
  }
}

@media (min-device-width: 992px) and (max-device-width: 1190px) {
  .timestamp{
      padding: 0px 0px;
  }
  .date{
      font-size: 15px !important;
  }
  .author{
      font-size: 15px !important;
  }
  .timestamp-gap {
      margin-bottom: 86px !important;
  }
  .status-pad {
      padding: 0px 40px !important;
  }
}

@media (min-device-width:1191px) and (max-device-width: 1399px) {
  .status-pad {
      padding: 0px 50px !important;
  } 
}
 /*FAIZA ROADMAP CSS*/



/*awais ROADMAP CSS*/
 
/* ICO Listing*/
.A_IcoHead {
  font-family: "pronova";
  color: rgb(20, 20, 20);
  line-height: 1.2;
  text-align: center;
  font-size: 40px;
  padding-top: 25px;
  font-weight:900;
  text-transform: uppercase;
}
.pic2
{
    width:100%;
}
.pic1
{
    width:100%;
}
.pic3
{
    width:100%;
    margin-top: -15px;
}
.IcoImages
{
  margin-top: 45px;
  margin-bottom: 40px;
}
.timeline-img{
  width: 210px;
}
/* End Ico Section*/


/* Press And Release*/
.pic
{
width: 100%;
margin-top: 9px;
}
.pic4
{
  width:100%;
}
/* End Press and Section*/


/* About AmisForum*/

.Amicourumheading
{
  font-family: "pronova";
  color: rgb(20, 20, 20);
  line-height: 1.2;
  text-align: center;
  font-size: 40px;
  padding-top: 61px;
  padding-bottom: 61px;
  font-weight:900;
}
.heading1 p
{
  font-family: "pronova";
  color: rgb(20, 20, 20);
  text-align: justify;
  font-weight: 900;
  line-height: 1.2;
  padding-bottom: 10px;
  font-size: 17px;
  line-height: 1.7;
}

.Whitepaper_btn {
  border-width: 2.21px;
  border-color: rgb(31, 182, 242);
  border-style: solid;
  background:transparent;
  font-size: 20px;
  font-weight: 900;
  padding:10px 25px;
  height:60px;
  text-transform: uppercase;
  font-family: 'proxima_novasemibold';
  margin-bottom: 10px;
}

.WhitepaperButton{
  text-align: left;
}
.Amicorum_Video
{
    /* height: 319px; */
    height: 395px;
    width:100%;
background: transparent;
}
.play_Videobtn 
{
    text-align:center ;
}
.btn img
{
text-align: center;
}
.playbtn
{
  position: relative;
  margin-top: -420px;
}
.features
{
  font-family: "pronova";
  color: rgb(20, 20, 20);
  line-height: 1.2;
  text-align: center;
  font-size: 40px;
  padding-top: 61px;
  font-weight: 900;
  margin-bottom: 61px;
}
.Inovations h1
{
  width: 58%;
  font-family: "pronova";
  color: white;
  line-height: 1.2;
  text-align: center;
  font-size: 22px;
  padding-bottom: 12px;
  padding-top: 12px;
  margin: 0 auto;
  font-weight: 900;
  background-color: #14b1ef;
}
.BUY_Amicorum h1
{
  width: 58%;
  font-family: "pronova";
  color: white;
  line-height: 1.2;
  text-align: center;
  font-size: 22px;
  padding-bottom: 12px;
  padding-top: 12px;
  margin: 0 auto;
  font-weight: 900;
  background-color: #14b1ef; 
}
.showtooltip
{
    text-align:center;
    margin-top: -1px;
}
.featureParagraph
{
    text-align: center;
    border:1px solid #9fd1df;
    margin-top: 17px;
    padding-top: 17px;
    padding-bottom: 9px;
    border-radius: 16px;
}
.featureParagraph p
{
  font-family: "pronova";
  font-size: 17px;
  font-weight: 900;

}
#about
{
  background-repeat: no-repeat;
  background-image: url("../images/amicorum.jpg");
  height: auto;
 background-size: cover;
  width: 100%;
  padding-bottom: 51px;
}

/*End About AmisForum Section*/

/*Team*/
#team
{
background-image: url(" ../images/Teambackground.png");
height: auto;
background-size: cover;
width: 100%;
padding-bottom: 56px;
 
}

.join-community{
  text-transform: uppercase;
  font-size:32px;
  text-align: center;
  margin:20px 0;
  margin-top:0;
  font-weight: bold;
  color:white;
}
.teamheading h1
{
  font-family: "pronova";
  color: rgb(20, 20, 20);
  line-height: 1.2;
  text-align: center;
  font-size: 44px;
  padding-top: 61px;
  font-weight: 900;
  padding-bottom: 18px;
  margin-top: 0px !important;
  text-transform: uppercase;
}
.teamparagraph p 
{
  font-family: "pronova";
  color: rgb(20, 20, 20);
  line-height: 1.2;
  text-align: center;
  font-size: 19px;

}
.teamname
{
  font-weight: 600;
}
.borders
{
    box-shadow: 0 -4px -1px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    width: 255px;
    padding-left: 6px;
    height: 273px;
    border: 13px solid white;
    border-radius: 69%;
    margin: 0 auto;
}
.teamSocialIcon
{
  text-align: center;
}
.teamSocialIcon img {
  height: 50px;
  border-radius: 50%;
  margin-top: -39px;
}
.borders img
{

    height: 250px;
    width: 227px;
    background-image: url(../img/adrian.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 -5px auto;
    border: 3px solid #29a3ed;
    border-radius: 69%;
    object-fit: cover;
    object-position: 49%;
   
}
/*End Section*/
.funds-wrap{
  width: 75%;
  margin:0 auto;
}











.progress-circle {
  font-size: 30px;
  margin: 20px;
  position: relative; /* so that children can be absolutely positioned */
  padding: 0;
  width: 5em;
  height: 5em;
  background-color:#e6e7e8; 
  border-radius: 50%;
  line-height: 5em;
}

.progress-circle:after{
   border: none;
   position: absolute;
   top: 0.35em;
   left: 0.35em;
   text-align: center;
   display: block;
   border-radius: 50%;
   width: 4.3em;
   height: 4.3em;
   background-color: white;
   content: " ";
}
/* Text inside the control */
.progress-circle span {
   position: absolute;
   line-height: 5em;
   width: 5em;
   text-align: center;
   display: block;
   color: black;
   z-index: 2;
   font-weight: 900;
}
.left-half-clipper { 
  /* a round circle */
  border-radius: 50%;
  width: 5em;
  height: 5em;
  position: absolute; /* needed for clipping */
  clip: rect(0, 5em, 5em, 2.5em); /* clips the whole left half*/ 
}
/* when p>50, don't clip left half*/
.progress-circle.over50 .left-half-clipper {
  clip: rect(auto,auto,auto,auto);
}
.value-bar {
  /*This is an overlayed square, that is made round with the border radius,
  then it is cut to display only the left half, then rotated clockwise
  to escape the outer clipping path.*/ 
  position: absolute; /*needed for clipping*/
  clip: rect(0, 2.5em, 5em, 0);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 0.45em solid #15bdff; /*The border is 0.35 but making it larger removes visual artifacts */
  /*background-color: #4D642D;*/ /* for debug */
  box-sizing: border-box;
 
}
/* Progress bar filling the whole right half for values above 50% */
.progress-circle.over50 .first50-bar {
  /*Progress bar for the first 50%, filling the whole right half*/
  position: absolute; /*needed for clipping*/
  clip: rect(0, 5em, 5em, 2.5em);
  background-color: #53777A;
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.progress-circle:not(.over50) .first50-bar{ display: none; }


/* Progress bar rotation position */
.progress-circle.p0 .value-bar { display: none; }
.progress-circle.p1 .value-bar { transform: rotate(4deg); }
.progress-circle.p2 .value-bar { transform: rotate(7deg); }
.progress-circle.p3 .value-bar { transform: rotate(11deg); }
.progress-circle.p4 .value-bar { transform: rotate(14deg); }
.progress-circle.p5 .value-bar { transform: rotate(18deg); }
.progress-circle.p6 .value-bar { transform: rotate(22deg); }
.progress-circle.p7 .value-bar { transform: rotate(25deg); }
.progress-circle.p8 .value-bar { transform: rotate(29deg); }
.progress-circle.p9 .value-bar { transform: rotate(32deg); }
.progress-circle.p10 .value-bar { transform: rotate(36deg); }
.progress-circle.p11 .value-bar { transform: rotate(40deg); }
.progress-circle.p12 .value-bar { transform: rotate(43deg); }
.progress-circle.p13 .value-bar { transform: rotate(47deg); }
.progress-circle.p14 .value-bar { transform: rotate(50deg); }
.progress-circle.p15 .value-bar { transform: rotate(54deg); }
.progress-circle.p16 .value-bar { transform: rotate(58deg); }
.progress-circle.p17 .value-bar { transform: rotate(61deg); }
.progress-circle.p18 .value-bar { transform: rotate(65deg); }
.progress-circle.p19 .value-bar { transform: rotate(68deg); }
.progress-circle.p20 .value-bar { transform: rotate(72deg); }
.progress-circle.p21 .value-bar { transform: rotate(76deg); }
.progress-circle.p22 .value-bar { transform: rotate(79deg); }
.progress-circle.p23 .value-bar { transform: rotate(83deg); }
.progress-circle.p24 .value-bar { transform: rotate(86deg); }
.progress-circle.p25 .value-bar { transform: rotate(90deg); }
.progress-circle.p26 .value-bar { transform: rotate(94deg); }
.progress-circle.p27 .value-bar { transform: rotate(97deg); }
.progress-circle.p28 .value-bar { transform: rotate(101deg); }
.progress-circle.p29 .value-bar { transform: rotate(104deg); }
.progress-circle.p30 .value-bar { transform: rotate(108deg); }
.progress-circle.p31 .value-bar { transform: rotate(112deg); }
.progress-circle.p32 .value-bar { transform: rotate(115deg); }
.progress-circle.p33 .value-bar { transform: rotate(119deg); }
.progress-circle.p34 .value-bar { transform: rotate(122deg); }
.progress-circle.p35 .value-bar { transform: rotate(126deg); }
.progress-circle.p36 .value-bar { transform: rotate(130deg); }
.progress-circle.p37 .value-bar { transform: rotate(133deg); }
.progress-circle.p38 .value-bar { transform: rotate(137deg); }
.progress-circle.p39 .value-bar { transform: rotate(140deg); }
.progress-circle.p40 .value-bar { transform: rotate(144deg); }
.progress-circle.p41 .value-bar { transform: rotate(148deg); }
.progress-circle.p42 .value-bar { transform: rotate(151deg); }
.progress-circle.p43 .value-bar { transform: rotate(155deg); }
.progress-circle.p44 .value-bar { transform: rotate(158deg); }
.progress-circle.p45 .value-bar { transform: rotate(162deg); }
.progress-circle.p46 .value-bar { transform: rotate(166deg); }
.progress-circle.p47 .value-bar { transform: rotate(169deg); }
.progress-circle.p48 .value-bar { transform: rotate(173deg); }
.progress-circle.p49 .value-bar { transform: rotate(176deg); }
.progress-circle.p50 .value-bar { transform: rotate(180deg); }
.progress-circle.p51 .value-bar { transform: rotate(184deg); }
.progress-circle.p52 .value-bar { transform: rotate(187deg); }
.progress-circle.p53 .value-bar { transform: rotate(191deg); }
.progress-circle.p54 .value-bar { transform: rotate(194deg); }
.progress-circle.p55 .value-bar { transform: rotate(198deg); }
.progress-circle.p56 .value-bar { transform: rotate(202deg); }
.progress-circle.p57 .value-bar { transform: rotate(205deg); }
.progress-circle.p58 .value-bar { transform: rotate(209deg); }
.progress-circle.p59 .value-bar { transform: rotate(212deg); }
.progress-circle.p60 .value-bar { transform: rotate(216deg); }
.progress-circle.p61 .value-bar { transform: rotate(220deg); }
.progress-circle.p62 .value-bar { transform: rotate(223deg); }
.progress-circle.p63 .value-bar { transform: rotate(227deg); }
.progress-circle.p64 .value-bar { transform: rotate(230deg); }
.progress-circle.p65 .value-bar { transform: rotate(234deg); }
.progress-circle.p66 .value-bar { transform: rotate(238deg); }
.progress-circle.p67 .value-bar { transform: rotate(241deg); }
.progress-circle.p68 .value-bar { transform: rotate(245deg); }
.progress-circle.p69 .value-bar { transform: rotate(248deg); }
.progress-circle.p70 .value-bar { transform: rotate(252deg); }
.progress-circle.p71 .value-bar { transform: rotate(256deg); }
.progress-circle.p72 .value-bar { transform: rotate(259deg); }
.progress-circle.p73 .value-bar { transform: rotate(263deg); }
.progress-circle.p74 .value-bar { transform: rotate(266deg); }
.progress-circle.p75 .value-bar { transform: rotate(270deg); }
.progress-circle.p76 .value-bar { transform: rotate(274deg); }
.progress-circle.p77 .value-bar { transform: rotate(277deg); }
.progress-circle.p78 .value-bar { transform: rotate(281deg); }
.progress-circle.p79 .value-bar { transform: rotate(284deg); }
.progress-circle.p80 .value-bar { transform: rotate(288deg); }
.progress-circle.p81 .value-bar { transform: rotate(292deg); }
.progress-circle.p82 .value-bar { transform: rotate(295deg); }
.progress-circle.p83 .value-bar { transform: rotate(299deg); }
.progress-circle.p84 .value-bar { transform: rotate(302deg); }
.progress-circle.p85 .value-bar { transform: rotate(306deg); }
.progress-circle.p86 .value-bar { transform: rotate(310deg); }
.progress-circle.p87 .value-bar { transform: rotate(313deg); }
.progress-circle.p88 .value-bar { transform: rotate(317deg); }
.progress-circle.p89 .value-bar { transform: rotate(320deg); }
.progress-circle.p90 .value-bar { transform: rotate(324deg); }
.progress-circle.p91 .value-bar { transform: rotate(328deg); }
.progress-circle.p92 .value-bar { transform: rotate(331deg); }
.progress-circle.p93 .value-bar { transform: rotate(335deg); }
.progress-circle.p94 .value-bar { transform: rotate(338deg); }
.progress-circle.p95 .value-bar { transform: rotate(342deg); }
.progress-circle.p96 .value-bar { transform: rotate(346deg); }
.progress-circle.p97 .value-bar { transform: rotate(349deg); }
.progress-circle.p98 .value-bar { transform: rotate(353deg); }
.progress-circle.p99 .value-bar { transform: rotate(356deg); }
.progress-circle.p100 .value-bar { transform: rotate(360deg); }



.progress-bottom-text{
  font-family: "pronova";
  color: white;
  width: 69%;
    margin: 0 auto;
    text-align: center;
}








.footer-back{
  background-image: url("../images/footer-back.jpg");
  background-size: cover;
  background-repeat: no-repeat;  
}
.footer-wrap{
  width: 80%;
  margin: 0 auto;
}
.email-wrap{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
}
.input-email{
  width: 35%;
  margin-right: 80px;
  padding: 10px;
  font-family: "pronova";
  color: black;
  font-size: 16px;
  background-color: white;
  border: none;
}
.input-email::placeholder{
  color: #adaeae !important;
  font-family: "pronova";
  font-size: 16px;
}
.sub-btn{
background-color: #1fb6f2;
color: white;
padding: 10px;
padding-left: 40px;
padding-right: 40px;
font-family: "pronova";
font-size: 16px;
border: none;
}
.subscribe-span{
  right: 485px;
  position: absolute;
}
.three-col-text {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
}
.pic4-4{
  width: 65%;
  margin-top: 15px !important;
}
.col-text-center{
  text-align: center;
}
.pic-beg{
margin-top: -20px;
}
.pic-dux{
  margin-top: 20px;
}
.pic-dig{
  margin-top: 10px;
}
.pic-below{
  width: 50%;
}
.pic-hype{
  margin-top: -3px; 
}
.sub-text-list {
  display: flex;
  text-align: center;
  align-items: stretch;
  justify-content: space-evenly;
  width: 80%;
  margin: -8px auto;
  padding: 0;
}
.sub-text-list li {
  list-style-type: none;
  width: 100%;
}
.cols-head {
  font-family: "pronova";
  font-size: 15px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  font-weight: 600;
}
.cols-p1, .cols-p2, .cols-p3{
  color: white;

}
.cus-hr{
  width: 80%;
  color: white !important;
  margin: 0 auto;
}
.logo-btm-wrap{
  text-align: center;
  padding-bottom: 40px;
}

.custom-hr2 {
  width: 70%;
  margin: 0 auto;
  border-top: 1px solid white;
  margin-top: 35px;
  padding-bottom: 40px;
}
.social-div2{
  text-align: center;
}
.social-icons-header2{
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
}
.social-icons-header2 li{
  display: inline-block;
    list-style-type: none;
    margin-right: 30px;
    transition: all 0.5s;
    margin-bottom: 10px;
}

.no-margin{
  margin-right: 0 !important;
}








@media (min-device-width: 320px) and (max-device-width: 360px) {
  .input-email{
      width: 72%;
  }
  .email-wrap{
      padding-top: 65px;
      padding-bottom: 20px;
  }
  .footer-wrap {
      width: 95%;}
      .subscribe-span {
          right: 15px;
      }
      .sub-text-list{
          display: block;
      }     
      .sub-text-list li{
          padding-bottom: 10px;
      } 
}
@media (min-device-width: 361px) and (max-device-width: 640px) {
  .input-email{
      width: 76%;
  }
  .email-wrap{
      padding-top: 65px;
      padding-bottom: 20px;
  }
  .footer-wrap {
      width: 95%;}
      .subscribe-span {
          right: 15px;
      }
      .sub-text-list{
          display: block;
      }     
      .sub-text-list li{
          padding-bottom: 10px;
      }   
}
@media (min-device-width: 641px) and (max-device-width: 767px) {

}

@media (min-device-width: 768px) and (max-device-width: 991px) {
  .subscribe-span {
      right: 180px;}
      .input-email{
          width: 52%;
      }
      .pic-dig {
        margin-top: -135px;
    }
    .box-ul li{
      margin-right: 45px;
    }
}

@media (min-device-width: 992px) and (max-device-width: 1190px) {
  .input-email {
      width: 48%;}
      .subscribe-span {
          right: 275px;}
}

@media (min-device-width:1191px) and (max-device-width: 1399px) {
  .subscribe-span {
      right: 360px;}
      .input-email {
          width: 50%;}
}

@media (min-device-width:320px) and (max-device-width: 991px) {
.no-sm{
  display: none;
}
}









#container {
 margin-top: 20px;
 margin-bottom: 20px;
 width: 200px;
 height: 200px;
 position: relative;
 margin: 0 auto;
}


#progressBar,#progressBar2, #progressBar3 , #progressBar4{
  margin: 20px auto;
  width: 130px;
  height: 130px;
}
.progressbar-text{
  left: 51% !important;
    top: 45% !important;
}
#progressBar2 .progressbar-text{
  left: 51% !important;
    top: 44% !important;
}
#progressBar4 .progressbar-text{
  left: 51% !important;
    top: 44% !important;
}

.news-ul{
list-style-type: none;
}

.news-li{
  display: inline-block;
}
.pic11{
  margin-top: 1px;
  width: 100%;
}


 @media only screen and  (min-width:1900px){
  .row-spacing {
    width: 70%;
    margin: 0 auto;
}
.right-col {
  margin-top: 0px;
}


 }


 .modal-content {
background: rgba(0, 0, 0, 0.5);
padding: 50px !important;
 }
 .modal-desc-row{
color: white;
font-family: 'pronova';
 }
 .name-text{
   font-size: 25px;
  color: white;
  font-family: 'pronova';
 }
 .desig-text{
  font-size: 22px;
  color: white;
  font-family: 'pronova';
 }
 .closeBtn{
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  color: white;
 }
 .content-row-ok{
   text-align: center;
 }
 .desc{
   text-align: center;
 }
 .round-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
  padding-top: 6px;
  font-size: 30px;
  margin: 10px auto;
}

.col-xs-offset-3 {
  margin-left: 0%;
}
.picc{
  width: 100%;
  margin-top: 14px;
}



.margin-status{
  margin-bottom: 65px;
}
.margin-status2{
  margin-bottom: 44px;
}
.margin-status3,.margin-status3-3{
  margin-bottom: -3px;
}
.margin-status4{
  margin-bottom: -24px ;
}
